/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button:hover{
    -fx-background-color: #4472CA;
    -fx-text-fill:#ffffff;
    -fx:text-alignment: center;
}
.button{
    -fx-background-color: #ffffff;

    
    
}
    .buttontry{
        
        z-index: 0;
        
}

.drawer{
    z-index: 1000;
}
